---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  // background: url(images/SF.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  // min-height: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $roboto;
  font-weight: 300;
  color: $darkGray;
}


// .container {
//   margin: 0 auto;
//   padding: 0 10px;
//   width: 100%;
// }

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  color: $darkerGray;
  font-weight: 400;

  line-height: 1.7;
  // margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-weight: 300;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
    text-decoration: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

img.desaturate {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

img.desaturate:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//
// ///////////////////NAV//////////////////////////////////////////////

.header-shit {
  position: fixed;
  width: 100%;
  z-index: 100000;
}


.nav {
  padding: 15px;
  border-bottom: solid 1px #DDD;
  display: block;
  &:hover, &:active {
    border-bottom: solid 1px #000;
    text-decoration: none !important;
  }
}

.active-link {
  border-bottom: solid 1px #000;
}

.written-name {
  min-width: 150px;
  max-width: 300px;
  width: 50%;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.profile-pic {
  // background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: auto 100%;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("/images/profile.jpg");
  // -webkit-filter: grayscale(100%);

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}




////////////////////////////PROJECTS //////////////////////////////////
.timeline {
  border-right: 1px solid black;
  height: 500px;
}

// .container {
//     height:100%;
//     width: 100%;
//     position: absolute;
//     overflow: scroll;
// }

.section-container {
  position: absolute;
  overflow: scroll;
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
}

.year-num {
  font-size: 600%;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.month-name {
  font-size: 300%;
  font-weight: 400;
  width: 100%;
  text-align: left;
  height: 25px;
}

.date {
  width: 10%;
  color: white;
  position:fixed;
  // margin-left: 50px;
  padding: 5px;
  left:25%;
  top: 33%;
  border: 5px white solid;
  border-right: none;
  // background-color: white;
}

@media screen and (max-width: 1024px) {
  .year-num {
    display: none !important;
  }
  .month-name {
    display: none !important;
  }
  .project-title {
    padding-bottom: 5% !important;
  }
  .project-date {
    visibility: visible !important;
  }
  .projects-bg {
    visibility: visible !important;
  }

  .all-months {
    background-image: none !important;
  }

}

.all-months {
  background-image: url("/images/SFmuted.jpg");
  background-size: cover;
  // -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  // filter: grayscale(100%);
  // filter: gray;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // background-repeat: no-repeat;
}

.projects-bg {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  // height: 100%;
  // width: 100%;
  min-height: 100%;
}

#bg {
  visibility: hidden;
  height: 0px;
}

.only-project-card {
  position: fixed;
  border: 5px solid white;
  margin-left: auto;
  margin-right: auto;
}

.month-page {
  position: relative;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  // margin-top: 15px;
  // display: table-cell;
  // vertical-align: middle;
  // text-align: center;
}

.project-square {
  top: 33vh;
  width: 30%;
  height: 40%;
  margin: auto;
  left: 0; right: 0;
  max-width: 500px;
  min-width: 400px;
}

.project-card {
  margin: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}

.project-title {
  margin: 0 auto;
  width: 75%;
  padding-top: 7%;
  text-align: center;
  a {
    color: #111;
    font-size: x-large;
    font-weight: 300;
  }
  border-bottom: 1px solid #555;
}

.project-date {
  visibility: hidden;
  color: #555;
}

.project-desc {
  a {
    text-decoration: underline;
  }
  color: #333;
  padding: 5%;
  text-align: center;
  font-weight: 300;
}

.row {
  margin-top:15px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
