---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  // background: url(images/SF.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

body {
	background: $white;
  font: 18px/1.4 $roboto;
  font-weight: 300;
  color: $darkGray;
}

.row {
  margin-top:15px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
  color: $darkerGray;
  font-weight: 400;

  line-height: 1.7;
  // margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-weight: 300;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
    text-decoration: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

img.desaturate {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  filter: grayscale(50%);
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
}

img.desaturate:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//
// ///////////////////NAV//////////////////////////////////////////////
.nav {
  padding: 15px;
  border-bottom: solid 1px #DDD;
  &:hover, &:active {
    border-bottom: solid 1px #000;
    text-decoration: none !important;
  }
}

.active {
  border-bottom: solid 1px #000;
}

.written-name {
  min-width: 150px;
  max-width: 300px;
  width: 50%;
}

.center {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.profile-pic {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
  margin-top: 15px;
  background-image: url("/images/profile.jpg");
  // -webkit-filter: grayscale(100%);

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
