
//
// VARIABLES
//
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
// Colors
$blue: #333;

// Grays
$black: #222;
$darkerGray: #555;
$darkGray: #777;
$gray: #aaa;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lato: 'Lato';
$roboto: 'Roboto';
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
