
//
// VARIABLES
//

// Colors
$blue: #5e8285; 

// Grays
$black: #222;
$darkerGray: #555;
$darkGray: #777;
$gray: #aaa;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}