<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon2.ico" >
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/js/jquery.panelSnap.js"></script>
    <script>
    jQuery(function($) {
      $('.section-container').panelSnap();
    });
  </script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif %}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>

<body>
  <div class="header-shit">
    <div class="row">
      <div class="col-md-12 center">
        <a class="center" href="{{ site.baseurl }}/"><img class="written-name" src="/images/name-white-02.png"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2 nav center">
        <a href="{{ site.baseurl }}/projects/">PROJECTS</a>
      </div>
      <div class="col-md-2 nav center">
        <a href="{{ site.baseurl }}/contact/">CONTACT</a>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  {{ content }}


  {% include analytics.html %}
  <script src='/js/scrollReveal.js'></script>
  <script>

  var config = {
    reset:  true,
    opacity: 0.5,
    vFactor: 0.4
  }
  window.sr = new scrollReveal(config);

  </script>

</body>
</html>

<script type="text/javascript">
$(document).ready(function () {
  var url = window.location;
  $('.nav').find('.active').removeClass('active');
  if(url.href.indexOf("projects") > -1) {
    $('.section-container').addClass('all-months');
    $('.header-shit').addClass('fixed-shit');
    // $('#bg').addClass('projects-bg');
  }
  $('.nav a').each(function () {
    if (this.href == url) {
      $(this).parent().addClass('active-link');
    }
  });
});

var fourteen_mark = $('.fourteen').offset().top;
var nov_mark = $('.nov').offset().top;
var oct_mark = $('.oct').offset().top;
var aug_mark = $('.aug').offset().top;
var may_mark = $('.may').offset().top;
var fixed_card = $('.only-project-card').offset().top;


$('.section-container').scroll(function(){
  // Changing year
  var s = $(this).scrollTop();
  if(s >= fourteen_mark) {
    $('.year-num').html('14');
  } else {
    $('.year-num').html('15');
  }
  // changing month
  if(s >= may_mark) {
    $('.month-name').text('MAY');
  } else if (s >= aug_mark){
    $('.month-name').text('AUG');
  } else if (s >= oct_mark){
    $('.month-name').text('OCT');
  } else if (s >= nov_mark){
    $('.month-name').text('NOV');
  } else {
    $('.month-name').text('MAY');
  }
});

</script>

